<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link defer rel="stylesheet" href="../static/style.css" />
    <script defer src="../static/script.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>About</title>
  </head>

  <body>
    <!-- Header Starts from here -->
    <header id="header">
      <div class="right-header" id="righthead">Image<span>Lab</span></div>
      <button id="nav-toggle" onclick="toggleNav()"><i class="fa fa-angle-double-down" aria-hidden="true" style="font-size: 25px;color: white;"></i>
      </i>
      </button>
      <div class="left-header" id="lefthead">
        <nav>
          <ul id="nav-list">
            <li><a href="/">Home</a></li>
            <li><a href="/pdftool">PDF Tools</a></li>
            <li><a href="/colorize">Colorize Image</a></li>
            <li  class="active-btn"><a href="/about">About</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- Header Ends here -->
    <!-- Section Starts here -->
    <section class="error-container">
      <h2 style="font-size: 16px;font-weight: bolder;">About Us</h2>
      <div class="text-head">
        <p>
          At imagelab, we're passionate about helping people enhance their
          images. We offer a variety of image editing tools, including
          colorization, background removal, and compression, to help you take
          your pictures to the next level. Our team is made up of experienced
          professionals who are dedicated to providing the highest quality
          service. We use the latest technology and techniques to ensure that
          your images are always looking their best. We understand that every
          image is unique and that's why we offer personalized solutions to meet
          the specific needs of each of our customers. we're here to help you
          achieve the results you're looking for.
        </p>
      </div>
      
      <div class="text-head"><p>We're here to help you with your image editing needs. If you have any questions or feedback about our services, please feel free to contact us.</p></div>
        <!-- <div class="social-link"></div> -->
        <h3>Email:<span>pro.win811@gmail.com</span></h3>
        <!-- <h3>Phone:<span>+9779810234567</span></h3> -->
        <h3>Address:<span>Kathmandu, Nepal</span></h3>
        <div class="text-head"><p>We will respond to your inquiry as soon as possible.</p></div>
        <h3>
          Thank you for choosing imagelab for all your needs. We
          look forward to working with you!
        </h3>
    </section>
    <footer class="flex">
      <p>All Right Reserved. 2022</p>
    </footer>
  </body>
</html>
