<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="../static/logo.ico">
    <link defer rel="stylesheet" href="../static/style.css" />
    <script defer src="../static/script.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>ImageLab - Our Team</title>
    <style>
        
    </style>
  </head>

  <body>
    <!-- Header Starts from here -->
    <header id="header">
      <a href="/"><div class="right-header" id="righthead">Image<span>Lab</span>AI</div></a>
      <button id="nav-toggle" onclick="toggleNav()"><i class="fa fa-angle-double-down" aria-hidden="true" style="font-size: 25px;color: white;"></i>
      </i>
      </button>
      <div class="left-header" id="lefthead">
        <nav>
          <ul id="nav-list">
            <li><a href="/">Home</a></li>
            <li><a href="/pdftool">PDF Tools</a></li>
            <li><a href="/imgtool">Image Tools</a></li>
            <li><a href="/about">About</a></li>
            <li class="active-btn"><a href="/team">Our Team</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- Header Ends here -->
    <!-- Section Starts here -->
    <section class="error-container">
        <h1>Our Team</h1>
        <div class="card">
            <img src="../static/nac-sir.jpg" alt="Supervisor">
            <div class="name">Narayan Adhikari Chhetri</div>
            <div class="role">Supervisor</div>
            <div class="phone">984-3201574</div>
        </div>
        <div class="team-container">
            <div class="card">
                <img src="../static/bikram.jpg" alt="Backend Designer">
                <div class="name">Bikram Stha</div>
                <div class="role">Backend</div>
                <div class="phone">981-2914878</div>
            </div>
            <div class="card">
                <img src="../static/khem.jpg" alt="Backend Designer">
                <div class="name">Khemraj Joshi</div>
                <div class="role">Backend</div>
                <div class="phone">986-8749353</div>
            </div>
            <div class="card">
                <img src="../static/naresh.jpg" alt="Backend Designer">
                <div class="name">Naresh Rawal</div>
                <div class="role">Backend</div>
                <div class="phone">986-6890908</div>
            </div>
            <div class="card">
                <img src="../static/prabin.jpg" alt="Frontend Designer">
                <div class="name">Prabin Bhatt</div>
                <div class="role">Frontend</div>
                <div class="phone">986-9908380</div>
            </div>
        </div>
        
        
    </section>
    <footer class="flex">
      <p>All Right Reserved. 2022</p>
    </footer>
  </body>
</html>